body{
    font-family: 'Space Grotesk', sans-serif;
}
#logo{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}
.navigation {
   display:flex;
   justify-content:space-evenly;
   margin-top: 20px;  
   border-bottom:1px solid black;
   padding-bottom: 10px;
   
}
a{
    text-decoration: none;
    color: black;
}
button{
    padding: 5px;
    background-color:#2549D3;
    color:#FAFAFA;
    border: 0px;
    border-radius: 5px;
}
#mainpurpose{
    font-size: 50px;
}
#goal{
    font-size: 20px;

}
#products{
    font-size: 20px;
    font-weight: bold;
    color: #2549D3;
    margin: 100;
}
#workingmode{
    font-size: 20px;
    font-weight: bold;
    color: #2549D3;
    margin: px;
    text-align:center;
}
#How{
    text-align:center;
}

.working{
    display:flex;
   justify-content:space-evenly;
   border-bottom: 100;
   margin-top: 20px;  
   border-bottom:1px solid black;
   padding-bottom: 10px;
   
}
#home{
    text-align:center;
}
#Esteemed{
    color: #2549D3;
    text-align:center;
}
h2{
    font-size:15px ;
    text-align:center; 
}
#choose{
    text-align: right;
    color: #2549D3;
    text-indent: 
}
#Us{
    text-align:right;
    text-indent: 200px;
    
}

#worldclass{
    text-align:right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 600;
}
.chooseus{
    display: inline-table;
    
    
}

#properties{
    text-align:center;
    color: #2549D3;
    text size: 100px;

}
#soldout{
    text-align:center;
}


.customer{
    display:grid;
    grid-template-columns: 20em 200px 30%;
    grid-template-rows: 200px auto;
    gap: 20px;
}
#onan{
    margin-left: 70%;
    margin-bottom: 50px;
}
#view{
    margin-left: 70%;

}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px auto;
    gap: 30px;
    background-color: #2549D3;
    color: #FAFAFA;
    padding: 20px;
    
}